

 /* Nav Related Styles Start */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 50px 130px;
    

}
.nav-container ul{
    display: flex;
    gap: 45px;
    list-style: none;
}
.nav-container ul a{
    text-decoration: none;
    color:#424247;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.nav-container h2{
    color: #131318;
    font-family: Mulish;
    font-size: 2.1em;
    font-style: normal;
    font-weight: 800;
    line-height: normal;   
}
.nav-container .important{
    color: #FF5400;
}
 .nav-container .special{
    color: #FF5400;
    font-weight: 700;
}

 /* Nav Related Styles End */

/* Banner Related Styles  Start*/
.banner{

    margin: 50px 135px;
    text-align: center;
    background-image: url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    padding: 105px 200px 120px 200px ;
}

 .banner .banner-content h1{
    color: #FFF;
    font-family: Mulish;
    font-size: 3em;
}
.banner .banner-content p{
    color: #fff;
font-family: Mulish;
font-weight: 400;
line-height: 26px;
margin-bottom: 45px;
}
.banner-input{
  margin-left:190px;
   width: 760px;
    border: 2px solid;
    border: none;
    border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
padding: 20px 0px;

}
.banner-input input{
    width: 170px;
    height: 50px;
    text-decoration: none;
    border-radius: 8px;
    
}
.banner-input select{
    width: 175px;
    height: 50px;
    text-decoration: none;
    border-radius: 8px;
    padding: 16px;
}
.banner-input input[type="search"]{
    color: #FFF;
    font-family: Mulish;
    border-radius: 8px;
    background: #FF5400;
}
/* Banner Related Styles End */

/* Section-1 Our Popular Tours Related Styles Start */

.section-1{
    /* width: 1170px; */
    display: flex;
    justify-content: space-between;
    margin: 100px 135px;
}
.section-1-container{
    width: 50%;
}
.section-1 .section-1-container .section-1-image {
    width: 50%;
}
.section-1 .section-1-container .section-1-image image {
    width: 100%;
}
h2{
    color: #131318;

   font-family: Mulish;
   font-size: 2.5em;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
}
.section-1-description,  ul  , .important {
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
.special{
    color: tomato;
    font-size: 20px;
    font-weight: 900px;
}
button{
    width: 174px;
    height: 52px;
    color: #FFF;
    font-family: Mulish;
    font-size: 20px;
    border: none;
    border: 2px solid;
    border-radius: 8px;
    background: #FF5400;
    font-weight: 800;
    margin-top: 45px;
}

/* Section-1 Our Popular Tours Related Styles End */

/* Section-2 Choose Your Destination Related Styles Start */
.section-2-images{
    margin: 50px 135px;
}

.row-1{

    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 25px;
    margin-bottom: 25px;
    
}
.row-2{
    display: grid;
    grid-template-columns: repeat(3 , 1fr );
    gap: 40px;
    margin-bottom: 25px;
}
.row-3{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 25px;
}

.row-1 img , .row-2 img , .row-3 img{
    width: 100%;
   height: 300px;
}

.section-2-contant{
    text-align: center;
    padding: 0 398px;
}
.section-2-contant p{
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
}

/* Section-2 Choose Your Destination Related Styles End */