

 /* Nav Related Styles Start */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 50px 130px;
    

}
.nav-container ul{
    display: flex;
    gap: 45px;
    list-style: none;
}
.nav-container ul a{
    text-decoration: none;
    color:#424247;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.nav-container h2{
    color: #131318;
    font-family: Mulish;
    font-size: 2.1em;
    font-style: normal;
    font-weight: 800;
    line-height: normal;   
}
.nav-container .important{
    color: #FF5400;
}
 .nav-container .special{
    color: #FF5400;
    font-weight: 700;
}

 /* Nav Related Styles End */
/* Banner Related Styles */
.banner{

    margin: 50px 135px;
    text-align: center;
    background-image: url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    padding: 105px 200px 120px 200px ;
}
.banner-content{
    
}
 .banner .banner-content h1{
    color: #FFF;
    font-family: Mulish;
    font-size: 3em;
}
.banner .banner-content p{
    color: #fff;
font-family: Mulish;
font-weight: 400;
line-height: 26px;
margin-bottom: 45px;
}
.banner-input{
  margin-left:190px;
   width: 760px;
    border: 2px solid;
    border: none;
    border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
padding: 20px 0px;

}
.banner-input input{
    width: 170px;
    height: 50px;
    text-decoration: none;
    border-radius: 8px;
    
}
.banner-input select{
    width: 175px;
    height: 50px;
    text-decoration: none;
    border-radius: 8px;
    padding: 16px;
}
.banner-input input[type="search"]{
    color: #FFF;
    font-family: Mulish;
    border-radius: 8px;
    background: #FF5400;
}